In [1]:
import pandas as pd

In [2]:
india_weather = pd.DataFrame({
    "city" : ["mumbai","delhi","bangalore"],
    "temp" : [32,45,30],
    "humidity" : [80,60,78]
})

india_weather

        city  temp  humidity
0     mumbai    32        80
1      delhi    45        60
2  bangalore    30        78

In [3]:
us_weather = pd.DataFrame({
    "city" : ["new_york","chicago","paris"],
    "temp" : [21,14,35],
    "humidity" : [68,65,75]
})

us_weather

       city  temp  humidity
0  new_york    21        68
1   chicago    14        65
2     paris    35        75

In [6]:
# concat both DataFrames:

df = pd.concat([india_weather,us_weather])
df

        city  temp  humidity
0     mumbai    32        80
1      delhi    45        60
2  bangalore    30        78
0   new_york    21        68
1    chicago    14        65
2      paris    35        75

In [8]:
# modify index from df:
df = pd.concat([india_weather,us_weather],ignore_index=True)
df

        city  temp  humidity
0     mumbai    32        80
1      delhi    45        60
2  bangalore    30        78
3   new_york    21        68
4    chicago    14        65
5      paris    35        75

In [10]:
# Display weather according to country:

df = pd.concat([india_weather,us_weather],keys=["india","usa"])
df

              city  temp  humidity
india 0     mumbai    32        80
      1      delhi    45        60
      2  bangalore    30        78
usa   0   new_york    21        68
      1    chicago    14        65
      2      paris    35        75

In [11]:
df.loc["india"]

        city  temp  humidity
0     mumbai    32        80
1      delhi    45        60
2  bangalore    30        78

In [12]:
df.loc["usa"]

       city  temp  humidity
0  new_york    21        68
1   chicago    14        65
2     paris    35        75

In [13]:
temp_df = pd.DataFrame({
    "city" : ["mumbai","delhi","bangalore"],
    "temp" : [32,45,30]
},index=[0,1,2])

temp_df

        city  temp
0     mumbai    32
1      delhi    45
2  bangalore    30

In [14]:
wind_df= pd.DataFrame({
    "city" : ["delhi","bangalore"],
    "windspeed" : [6,12]
},index=[1,2])

wind_df

        city  windspeed
1      delhi          6
2  bangalore         12

In [19]:
df = pd.concat([temp_df,wind_df])
df

        city  temp  windspeed
0     mumbai  32.0        NaN
1      delhi  45.0        NaN
2  bangalore  30.0        NaN
1      delhi   NaN        6.0
2  bangalore   NaN       12.0

In [17]:
df = pd.concat([temp_df,wind_df],axis=1)
df

        city  temp       city  windspeed
0     mumbai    32        NaN        NaN
1      delhi    45      delhi        6.0
2  bangalore    30  bangalore       12.0

In [20]:
# Add a column to temp_df and give appropriate values to it:

eve = pd.Series(["humid","dry","rain"],name="event")
eve

0    humid
1      dry
2     rain
Name: event, dtype: object

In [21]:
df = pd.concat([temp_df,eve],axis=1)
df

        city  temp  event
0     mumbai    32  humid
1      delhi    45    dry
2  bangalore    30   rain