In [5]:
# Pivot Table : It is used to summarize and aggregate data inside DataFrame

In [6]:
from google.colab import files
uploaded = files.upload()

Saving weather1.csv to weather1.csv
Saving weather2.csv to weather2.csv

In [18]:
from google.colab import files
uploaded = files.upload()

Saving weather3.csv to weather3.csv

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("weather1.csv")
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [9]:
df.pivot(index="date",columns="city")

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
5/1/2017          80     75       65       26     80       56
5/2/2017          77     78       66       30     83       58
5/3/2017          79     82       68       35     85       60

In [10]:
df.pivot(index="city",columns="date")

         temperature                   humidity
date        5/1/2017 5/2/2017 5/3/2017 5/1/2017 5/2/2017 5/3/2017
city
beijing           80       77       79       26       30       35
mumbai            75       78       82       80       83       85
new york          65       66       68       56       58       60

In [11]:
# pivot only humidity values:
df.pivot(index="city",columns="date",values="humidity")

date      5/1/2017  5/2/2017  5/3/2017
city
beijing         26        30        35
mumbai          80        83        85
new york        56        58        60

In [12]:
# pivot_table : It is used to summarize and aggregate data inside DataFrame:

In [13]:
df = pd.read_csv("weather2.csv")
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/1/2017  new york           61        54
2  5/2/2017  new york           70        60
3  5/2/2017  new york           72        62
4  5/1/2017    mumbai           75        80
5  5/1/2017    mumbai           78        83
6  5/2/2017    mumbai           82        85
7  5/2/2017    mumbai           80        26

In [14]:
# Above DataFrames consists of 2 different temps,humiditys in a day:
# So make avgs of temps,hunmidity and assign values:

In [15]:
df.pivot_table(index="city",columns="date")

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai       81.5     55.5        76.5     81.0
new york     55.0     61.0        63.0     71.0

In [16]:
# This aggregate function is ging to mean the values and return:
df.pivot_table(index="city",columns="date",aggfunc="mean")

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai       81.5     55.5        76.5     81.0
new york     55.0     61.0        63.0     71.0

In [17]:
# This is going to do average by row and column wise:
df.pivot_table(index="city",columns="date",aggfunc="mean",margins="True")

         humidity                 temperature
date     5/1/2017 5/2/2017    All    5/1/2017 5/2/2017     All
city
mumbai      81.50    55.50  68.50       76.50     81.0  78.750
new york    55.00    61.00  58.00       63.00     71.0  67.000
All         68.25    58.25  63.25       69.75     76.0  72.875

In [19]:
df = pd.read_csv("weather3.csv")
df

        date      city  temperature  humidity
0   5/1/2017  new york           65        56
1   5/2/2017  new york           61        54
2   5/3/2017  new york           70        60
3  12/1/2017  new york           30        50
4  12/2/2017  new york           28        52
5  12/3/2017  new york           25        51

In [20]:
# Above df consists of 3 different temps in months may and december:
# So Lets average the temperatures,humididty and place the values:
# we can do this with the help of grouper function:

In [22]:
# Lets convert the date from string to date fromat
# Otherwise we cant access the months

df['date'] = pd.to_datetime(df['date'])
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
df

        date      city  temperature  humidity
0 2017-05-01  new york           65        56
1 2017-05-02  new york           61        54
2 2017-05-03  new york           70        60
3 2017-12-01  new york           30        50
4 2017-12-02  new york           28        52
5 2017-12-03  new york           25        51

In [24]:
# Above df consists of 3 different temps in months may and december:
# So Lets average the temperatures,humididty and place the values:

df.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city')

             humidity temperature
city         new york    new york
date
2017-05-31  56.666667   65.333333
2017-12-31  51.000000   27.666667